body {
    margin: 0;
}

.navbar {
    padding-left: 50px;
    padding-right: 50px;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
}

.menu {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.menu li {
    margin-right: 20px;
    font-weight: bold;
}

.header-banner {
    height: 400px;
    background-image: url(/images/banner\ 1.png);
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-banner h1 {
    font-size: 50px;
    margin: 0;
}

button {
    background-color: aquamarine;
    border: none;
    padding: 12px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

button:hover {
    background-color: aqua;
    border-radius: 6px;
    font-weight: bold;
}

.wedding-container {
    padding: 50px;
}

.wedding-moment {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wedding-content {
    padding-left: 50px;
}

.package-container {
    text-align: center;
}

.packages {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    gap: 20px;
    margin-left: 20px;
    margin-right: 20px;

}

.package {
    text-align: left;
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-radius: 5px;
    padding: 10px;
}

.package button {

    justify-content: center;
}

.package h2,
h3,
p {
    margin: 5px;
}