body {
    margin: 0;
}

.navbar {
    padding-left: 50px;
    padding-right: 50px;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
}

.menu {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.menu li {
    margin-right: 20px;
    font-weight: bold;
}

.header-banner {
    height: 400px;
    background-image: url(/images/banner\ 1.png);
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-banner h1 {
    font-size: 50px;
    margin: 0;
}

button {
    background-color: aquamarine;
    border: none;
    padding: 12px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

button:hover {
    background-color: aqua;
    border-radius: 6px;
    font-weight: bold;
}

.wedding-container {
    padding: 50px;
}

.wedding-moment {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wedding-content {
    padding-left: 50px;
}

.container {
    text-align: center;
}

.packages {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    gap: 20px;
    margin-left: 50px;
    margin-right: 50px;

}

.package {
    text-align: left;
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-radius: 5px;
    padding: 10px;
}

.package button {

    justify-content: center;
}

.package h2,
h3,
p {
    margin: 5px;
}

.feedback-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    gap: 20px;
    margin-left: 200px;
    margin-right: 200px;
}

.feedback {
    border: 1px solid;
    border-radius: 5px;
    padding: 10px;
}

.feedback h2,
h4 {
    margin: 5px;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.frequently-asked-questions {
    text-align: left;
    margin-left: 100px;
    margin-right: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
}