body {
    margin: 0;
}

.navbar {
    padding-left: 50px;
    padding-right: 50px;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
}

.menu {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.menu li {
    margin-right: 20px;
    font-weight: bold;
}

.header-banner {
    height: 400px;
    background-image: url(/images/banner\ 1.png);
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-banner h1 {
    font-size: 50px;
    margin: 0;
}

button {
    background-color: aquamarine;
    border: none;
    padding: 12px;
    border-radius: 5px;
}

button:hover {
    background-color: aqua;
    border-radius: 6px;
    font-weight: bold;
}